<footer class="bg-footer py-4">
  <div class="container-md text-body-main">
    <div class="row">
      <!-- Col 1 -->
      <div class="col-12 col-md-4 mb-3">
        <!-- Website Logo -->
        <a
          class="nav-link animate_rotating_container fs-2 mb-2"
          href="/"
          routerLink="/"
          ><svg
            class="bi bi-book-half"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            viewBox="0 0 16 16"
          >
            <path
              d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"
            />
          </svg>
          <span class="fw-semibold ms-1"
            >re<span class="animate_rotating_target">R</span>eadous</span
          ></a
        >

        <!-- Address -->
        <h5 class="fs-6">Address</h5>
        <small>
          <address>
            123 Main Street, <br />
            Anytown, USA 12345
          </address>
        </small>

        <!-- Office Hours -->
        <h5 class="fs-6">Office Hours</h5>
        <small
          ><time
            >Mon - Fri:<br />
            9am - 5pm</time
          >
        </small>
      </div>

      <!-- Separator -->
      <hr class="d-md-none" />

      <!-- Col 2 -->
      <div class="col-12 col-md-4 mb-3">
        <!-- Mobile Numbers -->
        <h5 class="mb-0">Get in Touch</h5>
        <hr class="w-25 my-1" />
        <div class="row">
          <!-- sub col left -->
          <ul class="col-6 list-unstyled">
            <li class="mb-1">Phone</li>
            <li class="mb-1">Service Center</li>
            <li class="mb-1">Customer Service</li>
          </ul>
          <!-- sub col right -->
          <ul class="col-6 list-unstyled">
            <li class="mb-1">+20 115 608 3661</li>
            <li class="mb-1">+20 109 027 3880</li>
            <li class="mb-1">+20 xxx xxx xxxx</li>
          </ul>
        </div>

        <!-- Social Media Links -->
        <app-sociallinks></app-sociallinks>
      </div>

      <!-- Separator -->
      <hr class="d-md-none" />

      <!-- Col 3 -->
      <div class="col-12 col-md-4 mb-3">
        <h5 class="mb-0">Work with us</h5>
        <hr class="w-25 my-1" />
        <ul class="list-unstyled">
          <li class="mb-1">Authors</li>
          <li class="mb-1">Advertise</li>
          <li class="mb-1">API</li>
        </ul>

        <!-- My Logo -->

        <developer-logo></developer-logo>
      </div>
    </div>
  </div>
</footer>
